<!-- IF S_TOPIC_ARTICLE -->
<script type="text/javascript">
$(document).ready(function() {
	$('#post-article h3').replaceWith('<ul class="linklist left-box"></ul>');
	$('.postprofile:eq(0)').addClass("left_side_article");
	//$('#post-article .linklist').html($(".action-bar.bottom .dropdown-contents").html()); // Old
	$('.action-bar.bottom .topic-tools .dropdown-contents:eq(0)').each(function() {
		$('#post-article .linklist').append($(this).find('li'));
		$(this).parents('.topic-tools').remove();
	});
	/* // Online left side bar
	$('.post:eq(0).online').each(function() {
		$('.postprofile:eq(0)').addClass("online");
		$(this).removeClass("online");
	});*/ 
	$('#post-article li.icon-pss-right, #post-article li.icon-pss-left, #post-article dl.details').remove();
	$('#mini-profile .dropdown, #mini-profile .contact-icons').unwrap();
	$('#mini-profile .profile-contact strong, #mini-profile .dropdown-trigger').hide();
	//$('#post-article').append($('.topic_poll')); // Poll in article
});
</script>
<!-- ENDIF -->
