	<!-- IF S_TOPIC_ARTICLE and postrow.POST_NUMBER == '1' and not postrow.S_POST_HIDDEN -->
	</dt>
</dl>
<script type="text/javascript">
	document.getElementsByClassName("postprofile")[0].className += ' left_side_article';
</script>
<dl id="mini-profile" class="left-box">
	<dt>
	<div class="right-box">
	<p>{L_TOPIC_ARTICLE_LINK}{L_COLON} <input type="text" value="{U_CANONICAL}" onclick="this.focus();this.select();" style="padding:3px;" /></p>
	<p>{L_TOPIC_ARTICLE_BBCODE}{L_COLON} <input type="text" value="[url={U_CANONICAL}]{TOPIC_TITLE}[/url]" onclick="this.focus();this.select();" style="padding:3px;" /></p>
		{L_TOPIC_ARTICLE_HTML}{L_COLON} <input type="text" value='&lt;a href="{U_CANONICAL}"&gt;{TOPIC_TITLE}&lt;/a&gt;' onclick="this.focus();this.select();" style="padding:3px;" />
	</div>
	<!-- ENDIF -->
